.eligibility-criteria {
    padding: 2rem 0rem;

    .heading-eligibility {
        font-size: 30px;
        font-weight: 700;
        color: #000;

        span {
            color: #ffa229;
        }
    }

    .eligibility-container {
        display: flex;

        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .criteria-card {
            width: 7rem;

            .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: white;
                border: 2px dashed rgb(199, 199, 199);
                font-weight: 900;
                color: black;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);


            }

            .text {
                font-size: 0.8rem;
                text-align: center;
                margin-top: 0.3rem;
                font-weight: 700;
                color: rgb(82, 81, 81)
            }

        }

    }

    @media(max-width:480px) {
        .heading-eligibility {
            text-align: center;
        }
    }
}

#eligibility-criteria{
    scroll-margin-top: 110px;
}