
.steps-container-div{
    padding:2rem 0rem;
    .heading-steps{
      color: #000;
      font-weight: 700;
      span{
        color: #ffa229;
      }
    }
    .swiper-wrapper {
      position: relative;
        margin:1rem 0.5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding:0rem -2rem;
        .step-card {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f8f4e7;
          padding: 1rem;
          border-radius: 8px;
          border:1px solid orange;
          transition: transform 0.3s ease-in-out;
          height:12rem;
         
          display: flex;
          flex-direction: column;
          justify-content: center;
          .bold-step{
            margin-top: 0.5rem;
            font-weight: 700;
            margin-bottom:0;;
          }
          .step{
            font-size: 0.8rem;
            text-align: center;
            margin-top:0rem

          }
          .image-container{
            height:80px;
            width:80px;
            background-color:orange;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .doc-image{
              object-fit:cover;
              max-width: 100%;
              max-height: 100%;
            }
          }
          &:hover{

            box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
               
                transform: translateY(-10px);   
          }
        }
      
        .nav-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border: none;
          background-color:#1E446C ;
          color: #fff;
          font-weight: 700;
          padding: 0.3rem 0.5rem;
          border-radius: 4px;
          cursor: pointer;
          z-index: 10;
      
          &:hover {
            background: #333;
          }
      
          &.prev-steps-button {
            left: -2%;
          }
      
          &.next-steps-button {
            right: -2%;
          }
        }
      }
      @media(max-width:480px){
        .heading{
          text-align: center;
        }
      }

}
#step-by-step-procedure{
  scroll-margin-top: 110px;
}

  